<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="androidstudio" />
  <package id="bitwarden" />
  <package id="brave" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="dbeaver" />
  <package id="discord" />
  <package id="microsoft-windows-terminal" />
  <package id="discord.install" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="dotnetcore-3.1-desktopruntime" />
  <package id="dotnetcore-desktopruntime" />
  <package id="dotnetfx" />
  <package id="Firefox" />
  <package id="flutter" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="hyper" />
  <package id="insomnia-rest-api-client" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="krita" />
  <package id="mailspring" />
  <package id="microsoft-teams" />
  <package id="modernflyouts" />
  <package id="nodejs-lts" />
  <package id="notion" />
  <package id="oh-my-posh" />
  <package id="openjdk11" />
  <package id="php" />
  <package id="phpstorm" />
  <package id="postman" />
  <package id="powertoys" />
  <package id="python" />
  <package id="python3" />
  <package id="slack" />
  <package id="spotify" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="yarn" />
  <package id="zoom" />
</packages>